/*!
Theme Name: Fitness Park
Theme URI: http://underscores.me/
Author:Sparkle Themes
Author URI: https://sparklewpthemes.com/
Description: Fitness Park is a user-friendly and feature-rich, intuitive and creative, powerful and impressive engaging and dynamic, tech-savvy and good looking, rapidly responsive personal trainer WordPress theme. Its a solid toolkit for development of awesome and modern websites for gym centers, fitness studios, yoga studios and CrossFit. This multipurpose theme can also be used for the needs of health clubs, gymnasiums, spas and wellness centers, indoor and outdoor exercises and any other sport and health related website.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: fitness-park
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

License: GNU General Public License version 2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

Fitness Park WordPress Theme has been created by Sparkle Themes(sparklewpthemes.com), 2019.
Fitness Park WordPress Theme is released under the terms of GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 60px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;

}

h3 {

}

p {
    font-size: 15px;
    color: #959595;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 1.8;

}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 0em;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;

    /* Adhere to container width. */
}

figure {
    margin: 0;
    position: relative;
    overflow: hidden;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
}

table > thead:first-child > tr:first-child > th {
    background-color: #000;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    min-height: 60px;
    text-transform: uppercase;
    padding: 16px 0px;
    text-align: center;
    border: none;
}

.table > tbody > tr > th {
    background-color: #ff7101;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    min-height: 60px;
    text-transform: uppercase;
    padding: 58px 0px;
    text-align: center;
    border: none;
}

.table > tbody > tr > td {
    font-size: 18px;
    font-weight: bold;
    min-height: 60px;
    text-transform: uppercase;
    padding: 16px 0px;
    text-align: center;
    border: none;
    background: #f1efef;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 40px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ff7101;
    background: #ff7101;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #ff7101;
    background: #ff7101;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    border: 1px solid #eaeaea;
    border-radius: 0px;
    width: 100%;
    color: #FFF;
    padding: 10px;
    font-weight: 400;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #FFF;
    border-color: #ff7101;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFF;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFF;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.navigation.post-navigation {
    width: 100%;
}

.nav-previous {
    text-align: left;
}

.nav-next {
    text-align: right
}

.nav-previous a, .nav-next a {
    color: #000;
    font-size: 15px;
    font-weight: 700;
}

.nav-previous a:visited, .nav-next a:visited {
    color: #000
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.pagination {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
}

a.page-numbers {
    border: 1px solid #8a8888;
    padding: 8px 14px;
    color: #000;
}

span.page-numbers.current {
    border: 1px solid #ff7101;
    padding: 8px 14px;
    color: #ff7101
}

span.page-numbers.current:hover {
    border: 1px solid #ea6e7e;
    color: #ea6e7e;
}

a.prev.page-numbers, a.next.page-numbers {
    background: #ff7101;
    border: 1px solid #ff7101;
    color: #FFF;
    text-decoration: none;
}

a.prev.page-numbers:hover, a.next.page-numbers:hover {
    background: #f3566a;
    border: 1px solid #f3566a;
    color: #FFF;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #FFF;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

a:visited {
    color: #FFF;
}

a:hover, a:focus, a:active {
    color: #ff7101;
    text-decoration: none;
}

a:focus {
    outline: none;
}

a:hover, a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## men menu
--------------------------------------------------------------*/
.navigation {

    padding-top: 0px;
    padding-bottom: 0px;
}

.navigation-bordeTop {
    border-top: 2px solid #226ea2;
}

.navigation-bordeTop .main-navigation > ul {
    padding: 0px;
}

.navigation-bordeTop .main-navigation > ul > li > a {
    padding: 12px 17px 12px 17px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    vertical-align: middle;
    margin-top: 17px;

}

.center-header .logo a {
    padding: 0;
}

.navigation-bordeTop .main-navigation > ul > li:hover > a {
    color: #226ea2;
    padding: 12px 17px 12px 17px;
    border: none;
}

.nav-border-side {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.main-navigation {
    display: block;
    font-weight: 300;
}

.main-navigation > ul {
    padding: 15px 0px 1px 0px;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
}

.main-navigation ul ul {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
    background-color: #fff;
    width: 210px;
    text-align: left;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 208px;
    font-size: 13px;
    line-height: 45px;
    letter-spacing: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.05);
    display: block;
    padding: 0px 15px;
    margin: 0;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation ul ul li.menu-item-has-children > a:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f105";
    float: right;
    font-weight: 700;
}

.main-navigation li {
    position: relative;
    display: inline-block;
    list-style: none;
}

.main-navigation ul a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
    position: relative;
    padding: 19px 17px 35px 17px;
    margin-left: 5px;
    color: #403d3d;
    text-transform: uppercase;
    font-weight: 500;
}

.main-navigation.center-header > .navigation > ul > li > a {
    padding: 28px 17px 11px 17px;
}

.main-navigation .current-menu-item a {
    color: #ff7101;
}

.main-navigation > ul > li:hover > a {
    color: #ff7101;
    padding: 19px 17px 30px 17px;
}

.main-navigation ul.sub-menu li a {
    color: #000;
    border-bottom: none;
}

.main-navigation ul.sub-menu li a:hover {
    color: #ff7101;
    border-bottom: none;
}

.main-navigation > ul > li > a:focus {
    color: #ff7101;
}

.nav-menu > li.current-menu-item:after {
    background: #ff7101;
}

.current-menu-item a {
    color: red;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget-area ul {
    margin: 0;
}

.widget-area a {
    color: #948e8e;
}

.widget-area ul li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
    line-height: 32px;
}

.widget-area .widget .widget-title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding-left: 20px;
    background-color: #fafafa;
    border-left: 4px solid #ff7101;
    margin: 5px 0;
    text-transform: uppercase;
    display: inline-block;
    color: #ff7101;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}

.widget_archive ul,
.widget_categories ul,
.widget_recent_entries ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul,
.widget_pages ul,
.widget_nav_menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.widget_archive li,
.widget_categories li,
.widget_recent_entries li,
.widget_meta li,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.widget_archive a,
.widget_categories a,
.widget_recent_entries a,
.widget_meta a,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    color: #333333;
    font-size: 16px;
    line-height: 32px;
    padding-left: 22px;
    position: relative;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget a:hover,
.widget a:hover::before,
.widget li:hover::before {
    color: #ff7101;
}

.widget_archive a::before,
.widget_categories a::before,
.widget_recent_entries a::before,
.widget_meta a::before,
.widget_recent_comments li::before,
.widget_rss li:before,
.widget_pages li:before,
.widget_nav_menu li:before {
    color: #333333;
    content: "\f187";
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    font-weight: 700;
    left: 0;
    position: absolute;
    top: -8px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget_categories a::before {
    content: "\f07b";
    top: 0;
}

.widget_archive a::before {
    top: 0;
}

.widget_recent_entries a::before {
    content: "\f101";
}

.widget_meta a::before,
.widget_nav_menu li:before {
    content: "\f138";
}

.widget_recent_comments li::before {
    content: "\f086";
    top: 0;
}

.widget_rss li::before {
    content: "\f09e";
    top: 0;
}

.widget_pages li:before {
    content: "\f1ea";
    top: 0;
}

.widget_recent_entries .post-date {
    color: #8f8f8f;
    display: block;
    font-size: 11px;
    margin-top: -5px;
    padding-left: 24px;
}

.widget_nav_menu li:before {
    top: 0;
}

/*--------------------------------------------------------------
# Sidebar Select
--------------------------------------------------------------*/

.widget select {
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.widget_archive ul li,
.widget_categories ul li {
    width: 100%;
    text-align: right;
    display: inline-block;
}

.widget_archive ul li a,
.widget_categories ul li a {
    float: left;
}

.widget_categories ul li:last-of-type,
.widget_recent_comments ul li:last-of-type,
.widget_rss ul li:last-of-type,
.widget_recent_entries ul li:last-of-type,
.widget_pages ul li:last-of-type,
.widget_meta ul li:last-of-type,
.widget_nav_menu ul li:last-of-type,
.widget_archive ul li:last-of-type {
    border-bottom-width: 0;
}

.widget_tag_cloud .tagcloud {
    padding: 0 20px 20px;
}

/*--------------------------------------------------------------
# Sidebar Sub Menu
--------------------------------------------------------------*/

.widget_pages ul li .children li:last-child,
.widget_nav_menu ul li .sub-menu li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Sidebar Search
--------------------------------------------------------------*/
.widget_search .search-form {
    position: relative;

}

.widget_search .search-field::-webkit-input-placeholder,
.widget_search .search-form:-moz-placeholder,
.widget_search .search-form:-ms-input-placeholder {
    color: #868686;
}

.widget_search .search-form > label {
    margin: 0;
    width: 100%;
}

.widget_search .screen-reader-text {
    display: none;
}

.widget_search .search-field {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #333;
    display: inline-block;
    height: 47px;
    vertical-align: middle;
    width: 100%;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0;
}

.widget_search [type="search"].search-field::placeholder {
    color: #000;
}

.widget_search [type="search"].search-field:focus {
    color: #000;
}

.widget_search .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    height: 45px;
    margin-left: 0;
    vertical-align: middle;
    transition: all 0.5s ease 0s;
    -webkit-transition: all ease 0.5s;
    border: none;
    color: #fff;
    background: #ff7101;
    padding: 0 15px;
}

.widget_search .search-submit:hover {
    background: #000;
    color: #fff;
}

/*--------------------------------------------------------------
# Calender
--------------------------------------------------------------*/

.widget_calendar tbody td {
    text-align: center;
    color: #a8a7a7;
}

.widget_calendar caption {
    font-weight: 700;
}

.calendar_wrap caption {
    background: none repeat scroll 0 0 #3986bb;
    color: #fff;
    line-height: 25px;
    text-align: center;
}

.calendar_wrap table {
    border-collapse: collapse;
    width: auto;
}

.calendar_wrap table th {
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 8px 0px;
    text-align: center;
    width: 5%
}

.calendar_wrap table td {
    border: 1px solid #ccc;
    padding: 8px 0px;
    color: #000;
    width: 5%;
    text-align: center;
}

.calendar_wrap table td #prev,
.calendar_wrap table td#next {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar_wrap table td #next {
    text-align: right;
}

.custom-html-widget {
    margin: 0 20px;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/

#comments {
    margin-top: 30px;
    background: #FFF;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#comments h2.comments-title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding-left: 20px;
    background-color: #fafafa;
    border-left: 4px solid #3986bb;
    margin: 5px 0;
    text-transform: uppercase;
    display: inline-block;
    color: #3986bb;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}

#comments h3 {
    margin: 0 0 10px;
    color: #ff7101;
    font-weight: 600;
    display: inline-block;
    line-height: 22px;
    font-size: 18px;
}

#commentform label {
    display: inline-block;
    color: #ff7101;
}

textarea#comment {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    color: #615d5d;
    font-size: 15px;
    font-weight: 500;
}

.comment-form-cookies-consent label {
    margin-left: 14px;
}

#commentform input[type="submit"] {
    color: #ff7101;
    background-color: transparent;
    border-color: #ff7101;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 15px;
}

#commentform input[type="submit"]:hover {
    background-color: #ff7101;
    color: #FFF;
    border-color: #ff7101;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 15px;
}

/*--------------------------------------------------------------
Comment Lists
--------------------------------------------------------------*/
.comments-area ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comments-area ol.children {
    margin: 0 0 0 15px;
}

.comment-list .comment-body {
    margin-bottom: 20px;
    background: none;
}

.comment-author img {
    vertical-align: text-top;
    margin-right: 15px;
    border: 1px solid #e1e1e1;
    padding: 3px;
}

.comment-author {
    float: none;
}

.comment-metadata {
    font-size: 12px;
    margin-top: -12px;
    padding-left: 50px;
}

.comment-content {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 22px;
    color: #3a3a3a;
}

.comment-author .fn {
    font-style: normal;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
}

.comment-author .fn .url {
    color: #333;
    padding: 0;
    font-size: 16px;
}

.comment-author .fn .url:hover {
    color: #226ea2;
}

.comment-author .says {
    display: none;
}

.commentmetadata {
    float: right;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
}

.comment-metadata a {
    color: #969696;
}

.commentmetadata .comment-edit-link {
    color: #226ea2;
}

.commentmetadata + .clear {
    margin-bottom: 20px;
}

#respond {
    padding: 20px;
    margin: 20px 0 0;
    color: #141414;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#commentform .form-submit {
    margin-bottom: 0;
}

#cancel-comment-reply-link {
    font-style: italic;
    color: #226ea2;
}

#cancel-comment-reply-link:before {
    font-family: FontAwesome;
    content: "\f057";
    margin: 0 5px 0 20px;
    font-style: normal;
    color: #226ea2;
}

.logged-in-as a {
    color: #000;

}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*==================
        General css
====================*/
section, footer {
    padding: 70px 0
}

/*==================
        HEADER
====================*/
.header-logo.site-branding {
    display: table-cell;
    height: 80px;
    vertical-align: middle;
}

.site-branding h1 {
    margin: 0 0 0 0;
}

.site-branding h1 a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.site-branding p {
    margin: 0;
    text-align: center;
}

.site-branding p {
    margin-top: -10px;
    font-size: 11px;
}

.navbar {
    min-height: 90px;
    margin-bottom: 0px;
    background: #FFF;
    z-index: 3;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e8e4e4;
    border-radius: 0;
    padding-top: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
}

.navbar-collapse.in {
    overflow-y: inherit;
}

button.menu-nav-toggle {
    border: 1px solid #b5b1b1;
    border-radius: 5px;
    float: right;
    padding: 10px;
    margin: 18px 15px 0 0;
    display: none;
}

button.menu-nav-toggle span.icon-bar {
    width: 22px;
    height: 2px;
    background: #888;
    display: block;
    margin-top: 2px;
    border-radius: 1px;
}

span.sub-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    color: #212121;
    line-height: 42px;
    z-index: 99;
    cursor: pointer;
}

.navbar.header-transparent.fixed {
    position: fixed;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 3px;
    animation: smoothScroll 1s forwards;
}

.navbar.header-transparent {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 999999999;

    min-height: 90px;
    margin-bottom: 0px;
    background: transparent;
    z-index: 3;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e8e4e4;
    border-radius: 0;
    padding-top: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
}

.navbar.header-transparent .navbar-brand, .navbar.header-transparent .navbar-nav > li > a {
    color: #FFF;
}

.navbar.header-transparent.fixed .navbar-brand, .navbar-default .navbar-brand, .navbar.header-transparent.fixed .navbar-nav > li > a {
    color: #000;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
}

.navbar-nav > li > a {
    padding-top: 13px;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 16px;
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ff7101;
    background-color: transparent;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*==================
        MAIN SLIDER
====================*/
.slider {
    padding: 0
}

.owl-nav {
    position: absolute;
    top: 41%;
    width: 100%;
    z-index: 1;
}

.owl-carousel .owl-nav button.owl-prev {
    color: #000;
    float: left;
    font-size: 34px;
    outline: none;
    width: 60px;
    height: 60px;
    background: #FFF;
    opacity: 0.5;
    border-radius: 0;
}

.owl-carousel .owl-nav button.owl-next {
    color: #000;
    float: right;
    font-size: 34px;
    outline: none;
    width: 60px;
    height: 60px;
    background: #FFF;
    opacity: 0.5;
    border-radius: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    color: #000;
    font-size: 34px;
    outline: none;
    background: #FFF;
    opacity: 1;
}

.owl-dots {
    position: absolute;
    bottom: 2%;
    left: 0px;
    right: 0px;
}

.item {
    position: relative;
}

.slider-caption {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 3;
}

#main-slider .item h2 {
    color: #ffffff;
    font-size: 90px;
    font-weight: 800;
    line-height: 110%;
    text-align: left;
}

#main-slider .item span {
    font-size: 40px;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
}

#main-slider .item p {
    max-width: 700px;
    text-transform: capitalize;
    color: #FFF;
    font-size: 20px;
    margin-bottom: 30px;
}

#main-slider .item a {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 40px;
    border: 1px solid #FFF;
}

#main-slider .item a:hover {
    color: #ffffff;
    background-color: #ff7101;
    border: 1px solid #ff7101;

}

/*==================
      Introduction
====================*/
.introduction {
    background: #FFF;
}

.introduction .box {
    padding: 0px 15px;
    float: left;
}

.introduction .box .description {
    float: left;
    width: 50%;
    margin-top: 7%;
}

.introduction .box  figure {
    float: right;
    width: 50%;
}

.introduction .box .description h2 {
    display: unset;
}

.introduction .box .description span {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
}

.introduction .box .description p {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    max-width: 500px;
    letter-spacing: 0.1px;
    line-height: 1.8;
    margin: 40px 0px;

}

.introduction .box .description a {
    color: #ff7101;
    background-color: transparent;
    border-color: #ff7101;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 40px;
    border: 1px solid #ff7101;
}

.introduction .box .description a:hover {
    color: #ffffff;
    background-color: #ff7101;
    border: 1px solid #ff7101;
}

/*==================
      Course
====================*/

/*==================
      Course
====================*/
.courses {
    text-align: center;

}

.fp-block-wrapper::after {
    display: table;
    content: "";
    clear: both
}

.fp-block-wrapper::before {
    display: table;
    content: ""
}

.courses span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
}

.courseList {
    float: left;
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 0;
    width: 33.333333%;
    transition: all 0.4s ease ;
}

.courseList  .box {
    z-index: 0;
    padding: 20% 30px 30px 30px;
}
.courseList:hover  {
    -webkit-box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.75);
}

.courseList:hover  figure img{
    transform: translateY(-10px);
}

.courseList  figure img{
    transition: all 0.4s ease;
    padding-top: 15px;
}

.courseList h3 {
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 25px;
    margin: 30px 0px;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.courseList p {
    font-size: 15px;
    color: #000;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 1.8;
    margin: 15px auto 0 auto;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.courseList figure {
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #000;
}



/*==================
      Offers
====================*/
.offer {
    text-align: center;
    vertical-align: middle;

}

.offer img {
    transition: none
}

.offer h2 {
    color: #FFF;
    margin-bottom: 0;
    text-transform: capitalize;
    padding: 90px 0 0 0;
}

.offer span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 45px;
    display: block;
    color: #ff7101;
}

.offer-parallax-window {
    height: 450px;
    background: transparent;
}

.offer-parallax-window-1 {
    height: 450px;
    background: transparent;
}

.offer a {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 40px;
    border: 1px solid #FFF;
}

.offer a:hover {
    color: #ffffff;
    background-color: #ff7101;
    border: 1px solid #ff7101;

}

/*==================
      Offers
====================*/
.timetable {
    text-align: center;
    padding: 90px 0;
}

.routine_table {
    position: relative;
}

.timetable .timetable-title span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
}

/*==================
      video bg
====================*/
.video {
    display: block;
    text-align: center;
    background-image: url("assets/images/video-bg.png");
    background-position: center;
    background: #000;
    padding: 0;
}

.video h2 {
    color: #FFF;
    margin-top: 70px;
}

.video span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
}

.video .registration-form {
    margin-top: 60px;
}

.video .registration-form input, .video .registration-form textarea {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: #FFF;
}

.video .wpcf7-form span {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
    display: unset;
    margin-right: 10px;
    color: #ff7101;
    text-align: left;
}

.video .wpcf7-form p {
    text-align: left;
}

.video .wpcf7 label {
    text-align: left;
    font-weight: 400;
    color: #FFF;
}

.video .wpcf7 p.text-center {
    text-align: center;
}

.video .wpcf7 input[type="text"],
.video .wpcf7 input[type="tel"],
.video .wpcf7 input[type="email"],
.video .wpcf7 input[type="date"],
.video .wpcf7 input[type="url"]
.video .wpcf7 select {
    width: 49%;
    padding: 4px 10px;
    margin-bottom: 10px;
}

.video .wpcf7 textarea {
    width: 99%;
    padding: 4px 10px;
    margin-bottom: 10px;
}

.video .wpcf7 input[type="submit"], .wpcf7 input[type="button"] {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 11px 40px;
}

.video .wpcf7 input[type="submit"]:hover, .wpcf7 input[type="button"]:hover {
    color: #ffffff;
    background-color: #ff7101;
    border: 1px solid #ff7101;
}

.video .wpcf7 textarea {
    height: 150px;
}

.video .wpcf7 .message {
    margin: 0px auto;
    width: 100%;
    color: #FFF;
    height: 300px;
    vertical-align: middle;
    padding-top: 115px;
    background: none;
}

.video .wpcf7 input[type="submit"],
.video .wpcf7 input[type="button"] {
    float: none;
}

#youtube-video {
    position: relative;
    background: transparent;
    height: 800px;
    overflow: hidden;
    z-index: 80;
}

.ytplayer-container {
    position: absolute;
    top: 0;
    z-index: -1;
}

.overlay-video {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/*--------------------------------------------------------------
## front gallery  on bottom
--------------------------------------------------------------*/
.front-gallery {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
}

.front-gallery .gallery-title {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.5);
    z-index: 3;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;

}

.front-gallery:hover .gallery-title {
    opacity: 0;
    z-index: 0;
}

.gallery-text-wrapper {
    vertical-align: middle;
    display: table;
    width: 100%;
    height: 100%;
}

.front-gallery .gallery-title h2 {
    color: #FFF;
    margin-bottom: 20px;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}

.front-gallery .gallery-title h2 span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
    font-weight: 400;
}

.front-gallery .box {
    float: left;
    overflow: hidden;
    width: 20%;
    position: relative;

}

.front-gallery .box img {
    width: 100%;
}

.front-gallery .overlay-gallery {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 113, 1, 0.5);
    color: #FFF;
    text-align: center;
    font-size: 50px;
    line-height: 6;
}

.front-gallery a:hover .overlay-gallery {
    opacity: 1;
}

.sl-wrapper .sl-close, .sl-wrapper .sl-navigation button {
    background: transparent;
    color: #FFF;
}

.sl-wrapper .sl-close, .sl-wrapper .sl-navigation button:hover,
.sl-wrapper .sl-close, .sl-wrapper .sl-navigation button:focus {
    background: transparent;

}

.sl-overlay {
    background: #000;
}


/*--------------------------------------------------------------
## Blog
--------------------------------------------------------------*/
.fitness-park-blog-post-front {
    background: #ececec;
}

.fitness-park-blog-post-front .fp-blog-list {
    margin-bottom: 30px;
}

.fitness-park-blog-post-front span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
    text-align: center;
}

.fitness-park-blog-post-front figure {
    position: relative;
}

.fitness-park-blog-post-front .cat-links {
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
    width: 40%;
    padding: 7px 12px;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0 auto;
    left: 0;
    color: #FFF;
    right: 0;
    background: #ff7101;
    text-transform: uppercase;
}

.fitness-park-blog-post-front .cat-links a:hover {
    color: #FFF;
}

.fitness-park-blog-post-front h4 {
    margin: 10px 0;
}

.fitness-park-blog-post-front h4 a {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 1.8;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.fitness-park-blog-post-front .post-content p {
    font-size: 14px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    font-weight: 500;
    color: #667;
}

.fitness-park-blog-post-front .fp-blog-description {
    padding: 10px;
    background: #FFF;
    text-align: center;
    margin-bottom: 15px;
}

.fitness-park-blog-post-front .posted-on {
    font-size: 12px;
    font-style: italic;
    color: #AAA;
    display: block;
    margin-top: 3px;
}

.fitness-park-blog-post-front .posted-on a {
    color: #AAA;
}

/*--------------------------------------------------------------
## Trainer
--------------------------------------------------------------*/

.trainers span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    color: #ff7101;
}

.trainers .box figure {
    width: 60%;
    position: relative;
    overflow: hidden;
    float: left;
}

.trainers .box .description {
    width: 40%;
    float: left;
    padding: 0 30px;
}
trainers button span {
    margin-bottom: 0px;
}

.trainers .box .description p {
    margin: 0px 0px 15px 0px;
}

.trainers .box h3 {
    margin-bottom: 0
}

.trainers .box h3 a {
    text-transform: uppercase;
    margin: 150px 0 0px 0;
    display: block;
    color: #000;
    font-weight: 400;
}

.trainers span.designation {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;
    display: -webkit-box;
    text-align: center;
    color: #ff7101;
}

.trainers .owl-carousel .owl-nav button.owl-prev {
    color: #FFF;
    float: left;
    font-size: 34px;
    outline: none;
    width: 60px;
    height: 60px;
    background: #000;
    opacity: 0.5;
    border-radius: 0;
}

.trainers .owl-carousel .owl-nav button.owl-next {
    color: #FFF;
    float: right;
    font-size: 34px;
    outline: none;
    width: 60px;
    height: 60px;
    background: #000;
    opacity: 0.5;
    border-radius: 0;
}

.trainers .owl-carousel .owl-nav button span {
    color: #FFF;
}

.trainers .owl-theme .owl-nav [class*=owl-]:hover {
    color: #FFF;
    font-size: 34px;
    outline: none;
    background: #000;
    opacity: 1;
}

/*--------------------------------------------------------------
## social icons
--------------------------------------------------------------*/
.social-icon li, .social-icon-plain li {
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px 20px 0px;
    display: inline;
}

.social-icon li a i, .social-icon-plain li {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.social-icon li a:hover i, social-icon-plain li a:hover i {
    transform: scale(1.2);
}

.social-icon li.social-dribbble a {
    color: #ea4c89;
}

.social-icon li.social-email a {
    color: #049fb3;
}

.social-icon li.social-facebook a {
    color: #3b5998;
}

.social-icon li.social-flickr a {
    color: #ff0084;
}

.social-icon li.social-github a {
    color: #000;
}

.social-icon li.social-gplus a {
    color: #dd4b39;
}

.social-icon li.social-instagram a {
    color: #517fa4;
}

.social-icon li.social-linkedin a {
    color: #007bb6;
}

.social-icon li.social-pinterest a {
    color: #cb2027;
}

.social-icon li.social-rss a {
    color: #ff6600;
}

.social-icon li.social-stumbleupon a {
    color: #eb4823;
}

.social-icon li.social-tumblr a {
    color: #32506d;
}

.social-icon li.social-twitter a {
    color: #00aced;
}

.social-icon li.social-vimeo a {
    color: #aad450;
}

.social-icon li.social-youtube a {
    color: #bb0000;
}

/*==================
      footer
====================*/
footer {
    background: #212121;
    padding: 90px 0 0 0;
    text-align: center;
}

footer h2 {
    color: #FFF;
    font-size: 70px;
}

footer h3 {
    color: #FFF;
}

footer h2 a:hover {
    color: #FFF;
}

footer span {
    color: #ff7101;
    font-size: 25px;
    display: block;
    margin-bottom: 50px;
}

footer ul.footer-menu li {
    display: inline;
    padding: 0px 25px;
    font-size: 15px;
    text-transform: uppercase;
}

.bottom_footer {
    margin: 50px 0 30px 0;
}

.copyright p {
    color: #FFF;
    font-size: 14px;
}

.copyright p a {
    color: #FFF;
    font-size: 14px;
}

.copyright p a:hover {
    color: #ff7101;
}

.bottom_footer ul.footer-menu li a {
    color: #FFF;
}

.bottom_footer ul.social-icon {
    text-align: left;
    margin-bottom: 0;
}

.bottom_footer button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: 1px solid;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 5px 15px;
}

.bottom_footer button:hover {
    color: #ffffff;
    background-color: #ff7101;
    border: 1px solid #ff7101;
}

.bottom_footer .join_now {
    text-align: right;
}

/*--------------------------------------------------------------
## breadcrums
--------------------------------------------------------------*/
.breadcrumb {
    padding: 30px 0px 13px 0px;
    margin-bottom: 0px;
    background-size: 100%;
    height: 250px;
    background: #3c3b3b;
}

.breadcrumb h1 {
    color: #FFF;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
}

.breadcrumb ul {
    text-align: center;
    color: #FFF;
}

.breadcrumb ul li {
    display: inline;
    font-size: 20px;
    color: #ff7101;
    font-weight: 500;
}

.breadcrumb ul li a {
    color: #ff7101;
    transition: 0.8s ease;
}

.breadcrumb ul li a:hover {
    color: #ff7101;
}

.breadcrumb ul li a:after {
    content: "/";
    color: #ff7101;
    padding: 0 8px;
}

.breadcrumb ul li:last-child a:after {
    content: "";

}

/*--------------------------------------------------------------
## blog
--------------------------------------------------------------*/
.blog-post {
    padding: 30px 0px;
    background: #FFF;
}

.blog-post h2 {
    font-family: 'PT Serif', serif;
    color: #226ea2;
    font-weight: 700;
    position: relative;
}

.blog-post .post-title {
    font-weight: 700;
}

.blog-post .post-title h3 {
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 0;
    color: #000;;
}

.blog-post .post-title h3 a {
    color: #000000;
    transition: 0.8s ease;
    font-size: 29px;
    font-weight: 800;
    text-transform: capitalize;
}

.blog-post .post-title h3 a:hover {
    color: #ff7101;
}

.blog-post article {
    margin-bottom: 30px;
}

.blog-post .post-image {
    position: relative;
    overflow: hidden;
}

.blog-post .box {
    padding: 20px;
    background: #FFF;
}

.blog-post .post-thumbnail img {
    width: 100%
}

.postmeta {
    margin-top: 8px;
    padding-top: 15px;
}

.postmeta ul {
    padding-left: 0px;
}

.postmeta ul li {
    display: inline;
    list-style-type: none;
    margin-right: 4px;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #959595;
    padding-right: 35px;
}

.postmeta ul li a:hover {
    color: #ff7101;
}

.postmeta ul li:after {
    content: "-";
    font-size: 25px;
    padding-left: 10px;
    color: #ff7101;
    position: absolute;
    top: -11px;
    right: 5px;
}

.postmeta ul li:last-child:after {
    content: "";
}

.postmeta ul li a {
    color: #959595;
    letter-spacing: 3px;
}

.postmeta-categoty a {
    color: #ff7101;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.postmeta-auther {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    display: block;
    overflow: hidden;
    float: left;
    top: -13px;
    left: -44px;
}

.post-the-content {
    margin-top: 20px;
}

.post-the-content p {
    margin-bottom: 20px
}

.post-the-content a {
    border: 1px solid #ff7101;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 28px;
    color: #ff7101;
}

.post-the-content a:hover {
    border-color: #ff7101;
    background: #ff7101;
    color: #FFF;
}

.post-the-content button {
    border: 1px solid #ff7101;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    padding: 13px 19px;
    color: #ff7101;
}

.post-the-content button:hover {
    border-color: #ff7101;
    background: #ff7101;
    color: #FFF;
}

.post-permalink ul.social-link {
    float: left;
}

.post-permalink {
    display: block
}

.post-permalink ul.social-link li {
    display: inline;
    border: none;
    text-align: center;
    padding: 11px 12px 11px 0px;
    font-size: 13px;
    margin-right: -4px;
    font-size: 16px;
}

.post-permalink ul.social-link li a:hover {
    color: #3986bb;
}

/*--------------------------------------------------------------
##  sidebar pro
--------------------------------------------------------------*/

.widget-area .widget {
    padding: 0px 0px 10px 0px;
    float: left;
    width: 100%;
    color: #000;
    background: #FFF;
}

.site-content .widget h3 {
    margin: 0px;
    font-weight: 700;
}

.widget-area h3 {
    margin: 0px;
    color: #000000;
    transition: 0.8s ease;
    font-size: 29px;
    font-weight: 800;
    text-transform: capitalize;
}

.popular-post {
    margin: 0px;
    padding: 0px;
}

.popular-post ul li {
    list-style-type: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #eaeaeb;
    padding: 0px 0px 30px 0px;
}

.popular-post ul li:first-child {
    margin-top: 20px;
}

.popular-post ul li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.popular-post ul li a figure {
    float: left;
    width: 70px;
    margin-right: 20px;
    overflow: hidden;
}

.popular-post ul li a h4 {
    color: #7d7d7d;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0px;
    transition: 0.5s ease;
    display: unset;
}

.popular-post ul li a span {
    color: #ff7101;
    display: -webkit-box;
}

.popular-post ul li a {
    color: #424242;
    font-size: 13px;
    margin-bottom: 0px;
    transition: 0.5s ease;
}

.popular-post ul li a:hover {
    color: #3986bb;
    text-decoration: none;
}

.popular-post ul li a:hover h4 {
    color: #3986bb;
    text-decoration: none;
}

.category-sidebar {
    margin: 0px;
    padding: 0px;
}

.category-sidebar ul li {
    list-style-type: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #eaeaeb;
    padding: 0px 0px 5px 0px;
}

.category-sidebar ul li:first-child {
    margin-top: 20px;
}

.category-sidebar ul li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.category-sidebar ul li a figure {
    float: left;
    width: 70px;
    margin-right: 20px;
    overflow: hidden;
}

.category-sidebar ul li a h4 {
    color: #7d7d7d;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0px;
    transition: 0.5s ease;
}

.category-sidebar ul li a {
    color: #424242;
    font-size: 13px;
    margin-bottom: 0px;
    transition: 0.5s ease;
}

.category-sidebar ul li a:hover {
    color: #3986bb;
    text-decoration: none;
}

.category-sidebar ul li a:hover h4 {
    color: #3986bb;
    text-decoration: none;
}

/*--------------------------------------------------------------
##  archive page Pro
--------------------------------------------------------------*/
.post-listing {
    padding: 30px 0px;
    background: #FFF;
}

.post-listing {
    padding: 30px 0px;
}

.post-listing h2 {
    font-family: 'PT Serif', serif;
    color: #226ea2;
    font-weight: 700;
    position: relative;
}

.post-listing .post-title {
    font-weight: 700;
}

.post-listing .post-title h3 {
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 0;
}

.post-listing .post-title h3 a {
    color: #000000;
    transition: 0.8s ease;
    font-size: 29px;
    font-weight: 800;
    text-transform: capitalize;
}

.post-listing .post-title h3 a:hover {
    color: #ff7101;
}

.post-listing article {
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #f5f6f7;
}

.post-listing .post-image {
    position: relative;
    overflow: hidden;
    width: 30%;
    float: left;
}

.post-listing .box {
    position: relative;
    overflow: hidden;
    width: 70%;
    float: left;
    padding: 10px 10px 0px 10px;
}

.post-listing .postmeta {
    margin-top: 8px;
    padding-top: 15px;
}

.post-listing .postmeta ul {
    padding-left: 0px;
}

.post-listing .postmeta ul li {
    display: inline;
    list-style-type: none;
    margin-right: 4px;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #959595;
    padding-right: 35px;
}

.post-listing .postmeta ul li a:hover {
    color: #ff7101;
}

.post-listing .postmeta ul li:after {
    content: "-";
    font-size: 25px;
    padding-left: 10px;
    color: #ff7101;
    position: absolute;
    top: -11px;
    right: 5px;
}

.post-listing .postmeta ul li:last-child:after {
    content: "";
}

.post-listing .postmeta ul li a {
    color: #959595;
    letter-spacing: 3px;
}

.post-listing .postmeta-categoty a {
    color: #ff7101;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.post-listing .postmeta-auther {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    display: block;
    overflow: hidden;
    float: left;
    top: -13px;
    left: -44px;
}

.post-listing .post-the-content {
    margin-top: 20px;

}

.post-listing .post-the-content button {
    border: 1px solid #ff7101;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    padding: 13px 19px;
    color: #ff7101;
}

.post-listing .post-the-content button:hover {
    border-color: #ff7101;
    background: #ff7101;
    color: #FFF;
}

.post-listing .post-permalink ul.social-link {
    float: left;
}

.post-listing .post-permalink {
    display: block
}

.post-listing .post-permalink ul.social-link li {
    display: inline;
    border: none;
    text-align: center;
    padding: 11px 12px 11px 0px;
    font-size: 13px;
    margin-right: -4px;
    font-size: 16px;
}

.post-listing .post-permalink ul.social-link li a:hover {
    color: #3986bb;
}

/*--------------------------------------------------------------
##  media query
--------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {
   .section , footer{
       padding: 30px 0;
   }
    .video h2 {
        color: #FFF;
        margin-top:30px;
    }
    .trainers span {
        font-size: 22px;
    }
    #youtube-video {
        height: 690px;
    }

}

@media only screen and (max-width: 1024px) {
    .courseList .box {
        padding: 0 15px 30px 15px;
    }

    .video .wpcf7 input[type="text"],
    .video .wpcf7 input[type="tel"],
    .video .wpcf7 input[type="email"],
    .video .wpcf7 input[type="date"],
    .video .wpcf7 input[type="url"]
    .video .wpcf7 select {
        width: 48%;
        padding: 4px 10px;
        margin-bottom: 10px;
    }

    .video .wpcf7 textarea {
        width: 97%;
        padding: 4px 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 980px) {
    .video .registration-form {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 740px) {

}

/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) {
    .navbar {
        padding-top: 0px;
        position: relative;
    }

    h2 {
        font-size: 36px;
    }

    .introduction .box .description span, .offer span, .video span, .fitness-park-blog-post-front span, .front-gallery .gallery-title h2 span, .trainers span {
        font-size: 20px;
    }

    .offer-parallax-window {
        height: 300px;
        background: transparent;
    }

    .offer h2 {
        padding: 40px 0 0 0;
    }

    button.menu-nav-toggle {
        display: block;
    }

    span.sub-toggle {
        display: block;
    }

    .navbar {
        padding-top: 0px;
        position: relative;
    }

    button.menu-nav-toggle {
        display: block;
    }

    span.sub-toggle {
        display: block;
    }

    .main-navigation li {
        width: 100%;
    }

    .main-navigation .nav > li {
        width: 100%;
        border-bottom: 1px solid #e8e4e4;
    }

    .main-navigation ul ul {
        display: none;
        box-shadow: none;
        width: 100%;
        position: relative;
        border-top: 1px solid #e8e4e4;
    }

    .main-navigation ul li > ul {
        left: auto;
    }

    .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: auto;
    }

    .navbar-collapse.in {
        overflow-y: inherit;
        position: absolute;
        background: #FFF;
        width: 100%;
        top: 90px;
    }

    .main-navigation ul ul a {
        font-size: 16px;
        width: 100%;
        padding: 0px 15px 0px 30px;
    }

    .front-gallery .box {
        width: 50%;
    }

    .front-gallery .gallery-title {
        position: relative;
        display: block;
        z-index: 3;
        background: transparent;
    }

    .front-gallery .gallery-title h2 {
        color: #000;
        margin-bottom: 0;
    }

    .front-gallery:hover .gallery-title {
        opacity: 1;
        z-index: 1;
    }

    .front-gallery .gallery-title span {
        font-size: 22px;
    }

    .trainers .box figure {
        width: 100%;
    }

    .trainers .box h3 {
        margin: 20px 0 10px 0;
    }

    .trainers .box .description {
        width: 100%;
    }

    .bottom_footer ul.social-icon {
        text-align: center;
    }

    .bottom_footer .join_now {
        text-align: center;
    }

    .slider-caption {
        position: absolute;
        top: 8%;
    }

    #main-slider .item h2 {
        font-size: 24px;
    }

    #main-slider .item span {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #main-slider .item p {
        font-size: 12px;
        display: none;
    }

    #main-slider .item button {

        font-size: 15px;
        font-weight: 500;
        padding: 8px 15px;
    }

    .ytplayer-container {
        display: none;
    }

    #youtube-video {
        height: auto;
    }
    .video {
        padding: 20px 0;
    }

    .video .wpcf7 input[type="text"],
    .video .wpcf7 input[type="tel"],
    .video .wpcf7 input[type="email"],
    .video .wpcf7 input[type="date"],
    .video .wpcf7 input[type="url"]
    .video .wpcf7 select {
        width: 100%;
        padding: 4px 10px;
        margin-bottom: 10px;
    }

    .video .wpcf7 textarea {
        width: 100%;
        padding: 4px 10px;
        margin-bottom: 10px;
    }

}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {
    .routine_table {
        overflow: scroll;
    }

    .introduction .box {
        padding: 0px 15px;
        float: right;
    }

    .introduction .box .description {
        float: right;
        width: 100%;
    }

    .introduction .box figure {
        float: left;
        width: 100%;
    }

    .offer span {
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 45px;
        display: block;
        color: #ff7101;
    }

    h2 {
        font-size: 40px;
    }

    .introduction .box .description figure {
        float: left;
        width: 100%;
        margin-bottom: 25px;
    }

    .introduction .box .description span {
        margin-bottom: 0px;
        font-size: 22px;

    }

    .introduction .box .description p {

        margin: 15px 0px;
    }

    .courses span {
        font-size: 22px;
    }

    .video span {
        font-size: 22px;
    }

    .video .registration-form {
        margin-top: 0px;
    }

    .timetable .timetable-title span {
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 30px;
        display: block;
        color: #ff7101;
    }

    .front-gallery .box {
        width: 50%;
    }

    .front-gallery .gallery-title {
        position: relative;
        display: block;
        z-index: 3;
        background: transparent;
    }

    .front-gallery .gallery-title h2 {
        color: #000;
        margin-bottom: 0;
    }

    .front-gallery:hover .gallery-title {
        opacity: 1;
        z-index: 1;
    }

    .front-gallery .gallery-title span {
        font-size: 22px;
    }

    .trainers .box figure {
        width: 100%;
    }

    .trainers .box h3 {
        margin: 20px 0 10px 0;
    }

    .trainers .box .description {
        width: 100%;
    }

    footer h2 {
        font-size: 40px;
    }

    footer span {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .bottom_footer ul.social-icon {
        text-align: center;
    }

    .bottom_footer .join_now {
        text-align: center;
    }

    footer ul.footer-menu li {
        padding: 0px 12px;
    }

    .bottom_footer {
        margin: 15px 0 30px 0;
    }

    #main-slider .item p {
        display: none;
    }

    #main-slider .item span {
        font-size: 19px;
    }

    #main-slider .item h2 {
        font-size: 26px;
    }

}

@media only screen and (max-width: 300px) {

}
